*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INIZIO generale */
body{
    font-family: 'Rubik Mono One', sans-serif;
}

.box{
    height: 100vh;
    position: relative;
}

.wrapper{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    width: 100%;
}

h2{
    text-align: center;
}
/* FINE generale */

/* INIZIO sezione nav */
.button{
    display: inline-block;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
/* FINE sezione nav */

/* INIZIO sezione box */
.red,.green{
    color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    color: green;
    background-color: yellow;
}
/* FINE sezione box */

/* DEBUG */
.debug .wrapper{
    background-color: violet;
}

.debug nav{
    background-color: turquoise;
    display: inline-block;
}

.debug .button{
    background-color: violet;
}